/* Code View */

#js-repo-pjax-container{
	width: 920px;
	left: initial;
	margin: initial;
	position: initial;
}

/* Gist */

div.gist{
	margin: 0 auto;
	width: 960px;
}

div.root-pane{
	float: left;
	width: 148px;
	margin: initial;
}

div.column{
	float: right;
	width: 792px;
	margin: initial;
}

/* Pull Request */

div.file .meta .info .css-truncate-target {
	max-width: 600px;
}
div.file .meta .info {
	width: initial;

div.site-footer, div#all_commit_comments, div.thread-subscription-status {
	visibility: initial;
}
