/* Code View */

/*#js-repo-pjax-container{
	width: 94%;
	left: 0px;
	margin: 0px 3%;
	position: absolute;
	z-index: 1;
}*/

/* Gist */

div.gist{
	margin: 0 auto;
	width: 100%;
}

div.root-pane{
	float: left;
	width: 10%;
}

div.column{
	float: right;
	width: 88%;
	margin: 0 1%;
}

/* For Reamdes */
#readme {
	position: absolute;
	left: 10px;
	width: 99%;
	z-index: 1;
}

/* For file/commit view */
div.file-box {
	position: absolute;
	left: 10px;
	width: 99%;
	z-index: 1;
}

/* Pull Request */
/*
div.file .meta .info .css-truncate-target {
	max-width: 85%;
}
div.file .meta .info {
	width: 90%;

div.site-footer, div#all_commit_comments, div.thread-subscription-status {
    visibility: hidden;
}*/

