/* Code View */

body.full-width div.container, body.full-width div.container-lg, body.split-diff div.container, body.split-diff div.container-lg {
	padding-left: 10px;
	padding-right: 10px;
}

/* Gist */

div.gist{
	margin: 0 auto;
	width: 100%;
}

div.root-pane{
	float: left;
	width: 10%;
}

div.column{
	float: right;
	width: 88%;
	margin: 0 1%;
}

/* Pull Request */

a.css-truncate.css-truncate-target, a.css-truncate .css-truncate-target {
	max-width: 85%!important;
}
div.file-info {
	width: 80%;
}
div.site-footer, div#all_commit_comments, div.thread-subscription-status {
    visibility: hidden;
}
